.main-content {
  text-align: center;
  max-width: 100%;
  width: 100%;
  background-color: #F1F2F2;
  padding: 0;
}

.search-input {
  border: "none";
  outline: "none";
  padding: "10px 15px";
  font-size: "16px";
  width: "250px";
  border-radius: "25px 0 0 25px";
  color: "#333";
}

.image-container {
  padding: 0;
  max-width: 100%;
  height: auto;
  background-color: #96E3E4;
  margin-left: 0vw;
  margin-right: 0vw;
  position: relative;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1vw;
}

.input-container {
  border-style: hidden;
  border-radius: 20px;
  padding: 0;
  width: 50%;
  height: auto;
  background-color: #FAFEFF;
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  margin-top: 3vh;
}

.radio-group {
  margin: 20px 0,
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
  color: white;
}

.header li {
  cursor: pointer;
}

.house-icon {
  width: 100px;
  height: auto;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex: 1;
  max-width: 300px;
}

.search-bar button {
  padding: 10px;
  background-color: #0077cc;
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.transaction-type {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.transaction-type button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

/* Responsive Design */
/* @media (max-width: 768px) {
  .header ul {
    flex-direction: column;
    text-align: center;
  }

  .search-bar {
    flex-direction: column;
  }

  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .buttons {
    flex-direction: column;
  } 
}*/
