.main-content {
  text-align: center;
  max-width: 100%;
  width: 100%;
  margin-bottom:"0";
  background-color: #F1F2F2;
  padding: 0;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1vw;
}

.input-container {
  border-style: hidden;
  border-radius: 20px;
  padding: 0;
  width: 50%;
  height: auto;
  background-color: #FAFEFF;
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  margin-top: 3vh;
}

.slider-container {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

/* Slider Track */
.slider-track {
  position: absolute;
  height: 1vw;
  background: #ddd;
  border-radius: 0.25rem;
  width: 100%;
  z-index: 1;
}

/* Highlighted Range */
.slider-highlight {
  position: absolute;
  height: 1vw;
  background: #c3a7d9fb;
  border-radius: 0.25rem;
  z-index: 2;
  width: 100%
}

/* Slider Thumbs */
.slider-thumb {
  position: absolute;
  width: 100%;
  height: 1vw;
  background: transparent;
  pointer-events: none;
  appearance: none;
  z-index: 3;
}

.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  height: 2vw;
  background: #fefeff;
  cursor: pointer;
  pointer-events: auto;
  border-color: #303299;
  border-style: solid;
  border-radius: 50%
}

.slider-thumb::-moz-range-thumb {
  width: 0.2vw;
  height: 2.2vw;
  background: #fefeff;
  cursor: pointer;
  pointer-events: auto;
  border-color: #303299;
  border-style: solid;
}

.slider-thumb-left {
  z-index: 4;
}

.slider-thumb-right {
  z-index: 4;
}

/* Responsive Design */
@media (max-width: 600px) {
  .slider-container {
    width: 70%;
  }
  .slider-track {
    height: 3vw;
  }

  .slider-highlight {
    height: 3vw
  }

  .slider-thumb::-webkit-slider-thumb {
    width: 5vw;
    height: 5vw;
  }

  .slider-thumb::-moz-range-thumb {
    width: 0.8vw;
    height: 6vw;
  }
}